:root {
  --cinza: #aaa;
  --vermelha: #f06ce9;
  --vermelha-escura: #ee3d9b;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
  --azul-claro: #8cc6ed;
}

body {
  padding: 5rem;
  align-items: center;
  background-image: url("../images/background.png"); 
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: auto;
}

h1 {
  color: var(--azul-claro);
  margin-bottom: 1rem;
  font-size: 2.5rem;
  background-color: var(--branca);
  padding: 0.2em;
  font-weight: bold;
  text-align: center;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 4px 4px 0 6px #666, 10px 10px 10px #000;
  border-radius: 1.8rem;
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.625rem;
  margin-top: 2.5em;
}

.tecla {
  background-color: var(--branca);
  border-radius: 1.875rem;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 7.5rem;
  text-align: center;
  width: 12.5rem;
  height: 9.3rem;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}


.tecla_spotify {
  display: flex;
  background-color: var(--vermelha);
  z-index: 999;
  align-items: center;
  justify-content: center;
}


.tecla_spotify_img{
  margin-bottom: 1rem;
  width: 80%;
}